.login-section {
  max-height: 100vh;
  overflow: hidden;
}

.login-section .logo {
  width: 200px;
  margin-bottom: 40px;
}

.login-left-side {
  width: 60%;
}

.login-form {
  width: 40%;
  padding-left: 40px;
  color: #fff;
}

.login-form h3 {
  color: #c9c9c9;
  margin-bottom: 20px;
}

.login-form h4 {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
}

.login-form input {
  margin-bottom: 30px;
}

.login-btn {
  border: 0;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  /* margin: auto; */
  cursor: pointer;
  background: #59d4e9;
  font-weight: bold;
  color: aliceblue;
}

.signUp-link {
  color: #0025ef;
  margin-left: 4px;
  font-weight: bold;
  cursor: pointer;
}

.third-party-login-btns {
  display: flex;
  margin-bottom: 30px;
}

.third-party-login-btns .google-btn {
  background: #db4e42;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 4px;
  margin-right: 30px;
  width: 200px;
}

.third-party-login-btns .fb-btn {
  background: #3b599a;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 4px;
  width: 200px;
}
