.wallet-section {
    min-height: 100vh;
}

.wallet-section h1 {
    margin-bottom: 30px;
}
.wallet-section h4 {
    margin-bottom: 20px;
}

/* .recharts-wrapper,
.recharts-surface,
.recharts-legend-wrapper {
    width: 100% !important;
} */

.recharts-tooltip-label {
    display: none;
}