.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: #1F1D2B;
    padding: 0 0 20px 0;
    border-right: 1px solid rgb(42 42 42);
}

.sidebar .logo {
    margin-bottom: 30px;
}

.sidebar a {
    margin-bottom: 40px;
    padding-left: 30px;
    color: #aeaeae;
}

.sidebar a:hover {
    color: #fff;
    font-weight: 600;
}